header , section{
   margin: auto;
 }

header h1{
   text-align: center;
 }

header nav {
   justify-content: center;
   margin-left: 35%;
 }
header nav a {
  background: #35424a;
  text-align: center;
  width: 40%;
  color: #ffffff;
  padding: 10px;
  }
 
section#featured-property{
    width: 50%;
   text-align: center;
  }

figcaption {
  font-size: 12px;
  }

#featured-property p {
  margin: auto;
  width: 70%;
  font-size: 15px;
   }

 section#details {
   width: 100% ;
   display: flex;
   justify-content:space-around;
  text-align: center;
   background-color: red;
   margin-top: 10px;
   margin-bottom: 5px;
   font-size: 12px;
   }  
